.card-container {
  padding: 15px;
}
.mat-grid-tile .mat-figure  {
  align-items: start !important;
}
.dashboard-card {
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
  bottom: 5px;
}


.dashboard-card-content {
  text-align: left;
}

mat-grid-list {
  margin: 15px;
}
