.step-container {
  margin-top: 16px;
  height: 100%;
}

mat-card{
  margin: 15px;
}

mat-horizontal-stepper {
  height:100%;
}
.mat-horizontal-content-container {
  height: 100% !important;
}
.mat-horizontal-stepper-content {
  height: 100% !important;
}

mat-step {
  height: 100%;
}

.step-container {
 height: 100%;
}
[mdcCard] {
        height: 650px;
        width: 100%;
  }

  [mdcCardActions] {
    background-color: lighten(#212121, 5%) ;
  }
agm-map {
  // width: calc(100% + 32px);
  height: 346px;
}
