mat-card {
  max-width: 100%;



}

.feelings-list {
  // min-height: 75px;
  margin-bottom: 15px
}

.trigger-map {
  width: calc(100% + 32px);
}
agm-map {
  // width: calc(100% + 32px);
  height: 346px;
}
.icon {
    font-size: 36px;
}


.happy {
  color: #a0b59e
}
.neutral {
  color: #b39eb5
}

.unhappy {
  color: #FF9B9B
}
