mat-card {
  margin-bottom: 15px;


  mat-card-content {
    width: 400px;
    margin-top: 20px;

    agm-map {
      height: 300px;
    }


  }

  mat-card-footer {
    height: 40px;
    margin-right: 10px;
  }
}

.feelings-list {
      // min-height: 75px;
      margin-bottom: 15px

    }
