mat-card {
  margin-bottom: 15px;
  max-width: 400px;

  mat-card-content {




  }

  mat-card-footer {
    height: 40px;
    margin-right: 10px;
  }
}

.feelings-list {
  // min-height: 75px;
  margin-bottom: 15px
}

.trigger-map {
  width: calc(100% + 32px);
}
agm-map {
  // width: calc(100% + 32px);
  height: 346px;
}
